/* .is-title{
    -webkit-text-stroke: 4px black !important;
    -moz-text-stroke: 4px black !important;
    -o-text-stroke: 4px black !important;
    text-stroke: 4px black !important;
} */


.hero{
    margin-top: -82px;
}